{% extends "layout.html" %}

{% block content %}

    <aside>
        <h3>Выберите интересующие параметры:</h3>
        <p>Выберите класс перелёта</p>
        <select>
            <option value> - </option>
            <option value>Эконом</option>
            <option value>Бизнес</option>
        </select>
        <p> ## НУ И ТУТ ЕЩЕ ВЫБОРЫ КАКИЕ У НАС ЕСТЬ ##</p>
    </aside>
    <article>
        <section>
            {% for row in processed_files %}
                <h3>
                    {{row[1]}}
                </h3>
                <p>
                     Класс: {{row[2]}}
                </p>
                <p>
                     Рейтинг: {{row[3]}}
                </p>
            {% endfor %}
        </section>
    </article>

{% endblock %}